:root {
  --primary-bgd-color: #ffffff;
  --border-color: rgb(170, 166, 166);
  --icon-bgd-color: rgba(170, 166, 166, 0.3);

  --text-logo-color: rgba(170, 166, 166);
  --primary-text-color: #4e4646;
}

.page {
  background-color: var(--primary-bgd-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* List styles */
.list {
  list-style: none;
  padding: 0;
}

/* Header section */
.header.container {
  padding: 10px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  color: var(--text-logo-color);
  font-weight: 900;
  font-size: 50px;
  margin-right: auto;
  text-decoration: none;
}

.account.list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.account .item:not(:last-child) {
  margin-right: 20px;
}

.item {
  width: 50px;
  height: 50px;
}

.contact-us .item:not(:last-child) {
  margin-right: 20px;
}

.contact-us {
  display: flex;
  margin-left: auto;
}

.menu.button {
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--icon-bgd-color);
}

.nav .search {
  padding: 5px 10px;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.search .input {
  min-width: 250px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search > .icon {
  margin-right: 10px;
}

.icon {
  width: 35px;
  height: 35px;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover,
.link:focus {
  background-color: var(--icon-bgd-color);
  border-radius: 50%;
  cursor: pointer;
}
