:root {
  --primary-bgd-color: #ffffff;
  --border-color: rgb(170, 166, 166);
  --icon-bgd-color: rgb(238, 237, 237);
  --selection-bgd-color: rgb(212, 211, 211);

  --text-logo-color: rgb(170, 166, 166);
  --primary-text-color: #4e4646;
}

.page {
  background-color: var(--primary-bgd-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid pink; */
}

/* List styles */
.list {
  list-style: none;
  padding: 0;
}

.item {
  position: relative;
}

.link[aria-label]:hover:after {
  position: absolute;
  top: 105%;
  right: 50%;

  content: attr(aria-label);
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--icon-bgd-color);
  border-radius: 5px;
  padding: 5px 10px;
}

/* Header section */
.header.container {
  position: fixed;
  top: 0;

  padding: 10px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  color: var(--text-logo-color);
  font-weight: 900;
  font-size: 50px;
  margin-right: auto;
  text-decoration: none;
}

.logo .seq {
  color: var(--primary-text-color);
}

.account.list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.account .item:not(:last-child) {
  margin-right: 20px;
}

.item {
  width: 50px;
  height: 50px;
}

.contact-us .item:not(:last-child) {
  margin-right: 20px;
}

.contact-us {
  display: flex;
  margin-left: auto;
}

.menu.button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  text-decoration: none;
  color: var(--primary-text-color);
}

.button {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--icon-bgd-color);
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav .search {
  padding: 5px 10px;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.search .input {
  min-width: 250px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search > .icon {
  margin-right: 10px;
}

.icon {
  width: 35px;
  height: 35px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.link:hover,
.link:focus {
  background-color: var(--icon-bgd-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Catalog list */
.catalog-list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 180px;
  height: max-content;
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;

  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--icon-bgd-color);
  color: var(--primary-text-color);

  display: none;
}

.submenu .item {
  position: relative;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 5px 10px;
}

.menu-link {
  display: block;

  width: 100%;
  height: 100%;

  text-decoration: none;
  color: var(--primary-text-color);
}

.submenu1 {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;

  min-width: 180px;
  height: max-content;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--icon-bgd-color);
  color: var(--primary-text-color);
}

.submenu1 .item {
  width: 100%;
  height: 100%;

  padding: 5px 10px;
}

.catalog-list:hover .submenu {
  display: block;
  border: 1px solid var(--border-color);
}

.catalog-list:hover {
  background-color: var(--selection-bgd-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.submenu .item:nth-child(n):hover > .submenu1 {
  display: block;
  border: 1px solid var(--border-color);
}

.submenu .item:nth-child(n):hover {
  background-color: var(--selection-bgd-color);
}
